* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

#cv {
  display: grid;
  grid-template-rows: 20vw min-content;
  grid-template-columns: 66vw 33vw;
  height: fit-content;

  #header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: skyblue;
    h1 {
      font-size: 1.2rem;
    }
    h2 {
      font-size: 0.9rem;
      font-weight: 500;
    }
  }
  #sidebar {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: grey;
    img {
      width: 90%;
    }

    h3 {
      font-size: 0.8rem;
      font-weight: 500;
    }
    h2 {
      font-size: 1em;
    }
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    p {
      font-size: 0.6rem;
    }
  }
  #content {
    #experience,
    #education {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .job,
      .education {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        .right {
          p:first-of-type {
            font-weight: 900;
          }
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
        .left {
          font-weight: 900;
        }
      }
    }
    p {
      font-size: 0.8rem;
    }
    padding: 10px;
    h2 {
      font-size: 1rem;
    }
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

#personal-information-section {
  background-color: bisque;
}

#experience-section {
  background-color: cornsilk;
}

#education-section {
  background-color: gold;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

form {
  display: grid;
  font-size: 1.4rem;
  text-align: center;
  padding: 10px;
  gap: 10px;
  position: relative;
  padding-bottom: 3rem;
  button {
    position: absolute;
    bottom: 0;
  }
}
button {
  width: 100%;
  padding: 5px 0px;

  background-color: skyblue;
  font-size: 1.4rem;
}

.add-experience,
.add-education {
  background-color: skyblue;
}

#experience-section,
#education-section,
#personal-information-section {
  padding-top: 1.5rem;
  display: grid;
  text-align: center;
  h2:first-of-type {
    margin-bottom: 10px;
  }
  /*  gap: 1rem; */
}

.form-container {
  box-shadow: 2px 2px 2px black;
  border: 1px solid black;
}

input {
  font-size: 1.4rem;
  border: 1px solid black;
  border-radius: 1rem;
  text-align: center;
  padding: 5px 0px;
}
